:root {
    --listbgc: rgba(231, 172, 8, 0.568);
    --navbarc: linear-gradient(to right, black, orange);
    --resultlistbgc: yellow;
    --favlistbgc:rgb(195, 0, 255);
    --movieDetailHeader: green;
    --movieDetailValue: white;
    --Cardcolor: linear-gradient(to right, rgba(49, 44, 44, 0.945), black );
  }
  

.cards-align{
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap; 
}
.favorite-align{
    display: flex;
    /* justify-content: space-around; */
    flex-flow: column; 
}
.searchBar{
    width: 20rem;
}
.movie-search-list{
    position:absolute;
    background-color: var(--listbgc);
    margin-top: 2rem;
    width: 20rem;
    z-index: 1;
}
.movie-search-list-item {
    height: 4rem;
    background-color: var(--listbgc);
    .card-img{
        height: 3.5rem;
        width: 3.5rem;
        margin: .3rem;
    }
    .card-body{
        padding: .3rem;
        /* height: 4rem; */
    }
}
.col-sm-5 {
    height: 8rem;
}
.space-align{
    margin: 15px 0px;
}
.bg-color{
    background: var(--Cardcolor);
    color: orange;
}
.movie-details{
    cursor: pointer;
}
.fa-heart{
    z-index: 1;
}
.fa-heart:hover{
    color: aliceblue;
}

.navbar-brand{
    color: orange;
    background-color: black;
    
}

.navbar-brand span{
    color: black;
    background-color: orange;
}
.navbar, body{
    background: var(--navbarc) !important;
}
#movie-result-list{
    border: 1px solid  orange !important;
    
    /* var(--resultlistbgc) ; */
    /* margin-right: 1rem; */
}
#movie-favorite-list{
    border: 1px solid var(--favlistbgc);
    .card-img{
        height: 100%;
        padding: 1%;
    }
}
.btn-outline-success {
    --bs-btn-color: black;
    --bs-btn-border-color: black;
}
.text-center{
    margin: 20px 40px;
}
.fa-search{
    width: 100%;
    height: 100%;
}