:root {
    --listbgc: rgba(231, 172, 8, 0.568);
    --navbarc: orange;
    --resultlistbgc: yellow;
    --favlistbgc:rgb(195, 0, 255);
    --movieDetailHeader: green;
    --movieDetailValue: white;
  }
  

.cards-align{
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap; 
}
.favorite-align{
    display: flex;
    /* justify-content: space-around; */
    flex-flow: column; 
}
.searchBar{
    width: 20rem;
}
.movie-search-list{
    position:absolute;
    background-color: var(--listbgc);
    margin-top: 2rem;
    width: 20rem;
    z-index: 1;
}
.movie-search-list-item {
    height: 4rem;
    background-color: var(--listbgc);
    .card-img{
        height: 3.5rem;
        width: 3.5rem;
        margin: .3rem;
    }
    .card-body{
        padding: .3rem;
        /* height: 4rem; */
    }
}
.movie-details{
    cursor: pointer;
}
.fa-heart{
    z-index: 1;
}
.fa-heart:hover{
    color: aliceblue;
}

.navbar-brand{
    color: orange;
    background-color: black;
    
}

.navbar-brand span{
    color: black;
    background-color: orange;
}
.navbar, body{
    background-color: var(--navbarc) !important;
}
#movie-result-list{
    background-color: var(--resultlistbgc) ;
    /* margin-right: 1rem; */
}
#movie-favorite-list{
    background-color: var(--favlistbgc);
}